body{
    background-image: linear-gradient(#CBF1F5,#00ADB5);
    color: #eeeeee;
    min-height: 100vh;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(#393d46, #575562);
  }

li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}

li a {
    width: 210px;
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover, th:hover {
    background-color: #212832;
    color: white;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td, th{
    text-align: center;
    font-family: ''Times New Roman', Times, serif;'
}


#hometable td img{
    width: 320px;
    height: 200px;
    border-radius: 8px;
}
#hometable{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#aboutustable td, th{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

form table{
    background-color: #393d46;
    color: #eeeeee;
    text-align: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

#contactlabel{
    width: 30%;
    text-align: left;
}

footer{
    background-color: #393d46;
    font-family: 'Times New Roman', Times, serif;
    color: #eeeeee;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contactus {
    margin-top: 20%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: #393d46;
    height: 70%;
    box-shadow: 0 0 15px #ceb61a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactus_table, th, td{
    padding: 5px;
}
p.bottom_text_contactus{
    color: gold;
}
#aboutus_para{
    color: #393d46;
}
